# Build
build/
build-release/
out/

# IDE
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
CMakeSettings.json

# Compiled
*.obj
*.pdb
*.ilk
*.lib
*.exp
*.exe
*.dll

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# vcpkg
vcpkg_installed/

# OS
Thumbs.db
Desktop.ini
.DS_Store
